body{
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    height: 100vh;
}

p {
    margin-bottom: 50px;
}

label {
    font-size: 18px;
    font-weight: 600;
}

input[type="text"] {
    width: 40%;
    padding: 12px 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Autocomplete Suggestions Styling */
.autocomplete-suggestions {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 40%;
    z-index: 999;
    display: none;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for each suggestion item */
.autocomplete-suggestions div {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.autocomplete-suggestions div:hover {
    background-color: #f1f1f1;
}

/* Positioning of the suggestion div below each input field */
#source_suggestions, #dest_suggestions {
    width: 40%;
    margin-bottom: 15px;
}

button[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
