# Ignore the virtual environment directory
myenv/

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Flask specific files
instance/
.webassets-cache

# IDE and editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Operating system-specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints

# Logs
*.log

# Configuration files that shouldn't be shared
.env
*.env

# Database files (if any)
*.sqlite3
